@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url('./fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: local('Proxima Nova'), url('./fonts/Proxima Nova Bold.otf') format('opentype');
}

ion-title {
  font-family: 'Proxima Nova', Sans-serif;
  font-size: 16pt;
}

ion-tab-button {
  font-size: 10px;
  --color: rgb(56, 56, 56);
  --padding-end: 0px;
  --padding-start: 10px;
  --padding-bottom: 0px;
  --margin-left:0px;
  --margin-right:0px;
  max-width:100px;
}