.header{
    --color: #000000;
    text-align: center;
    --background: transparent;
    --border-width: 2px;
    --border-color: rgb(185, 106, 185);
}

.search {
    --border-radius: 20pt;
}

.explore-tag{
    background-color: white;
    border: 1pt solid lightgrey;
    font-size: 10pt;
}

.everythingOnOneLine {
    white-space: nowrap;
    height: 30pt;
    padding-left: 8pt;
}
   
.everythingOnOneLine * {
    display: inline;
}

.listHeader{
    padding-left: 12pt;
    font: bold 18px "Proxima Nova Rg", Helvetica, sans-serif;
}

.cardHeader{
    padding-left: 12pt;
}


