.post {
    width: 100%;
    padding: 0;
}
.header {
    background: white;
}
.post-header {
    width: 100%;
    background: rgb(239, 241, 243);
    color: #2e2e2e;
    font: bold 15px "Proxima Nova", Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

.post-profile-image {
    width: 40pt;
    height: 40pt;
    border-radius: 10pt !important;
    overflow: hidden;
    margin: 2pt 5pt;
}

.post-club-name {
    line-height: 35pt;
    height: 35pt;
    text-align: center;
}

.post-image {
    width:100%;
}


.container {
    width:100%;
    position: relative;
    text-align: center;
    color: #2e2e2e;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40pt;
    background-color: rgba(239, 241, 243, .8);
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }





.event-info {
    position: absolute;
    width: 100%;
    margin: -43pt 0;
    background: rgba(239, 241, 243, .8);
    color: #2e2e2e;
    font: bold 10pt "Proxima Nova", Helvetica, sans-serif;
}

.calendar {
    padding: 5pt 0;
    background: transparent;
    --ion-background-color: transparent !important
}

.event-title {
    position: absolute;
    bottom: 12pt;
    left: 50pt;
    font:  10pt "Proxima Nova Bold", Helvetica, sans-serif;

}

.event-date {
    position: absolute;
    bottom: 12pt;
    right: 10pt;
    font: 10pt "Proxima Nova Bold";
}

.heart {
    color: rgb(245, 12, 109);
}

.event-description {
    font: bold 10pt "Proxima Nova";
    padding: 5pt;
}

.details{
    --background: rgba(232, 236, 241, 1);
    --color: #000000;
}